.App {
  text-align: center;
  /* border: 1px solid #ccc; */
  padding: 2rem;
}

body {
  margin: 0;
  place-items: center;
  width: 100%;
  padding-bottom: 6rem;
  padding-top: 2rem;
  font-family: "Open Sans", sans-serif;
}

.gradient {
  background: linear-gradient(to right, #d54129 20%, #0061ff 68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

label {
  margin-top: 10px;
  font-size: 16px;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

/* .radio-button-large {
  transform: scale(2.5);
  border: 2px solid white;
} */

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #34a853;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.loader {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #3498db;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* @font-face {
  font-family: std;
  src: url("/circular-std-medium-500.ttf");
} */

.loading {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
